<article>
    <div>
        <div>{{title}}</div>
        <div>{{body}}</div>
    </div>
    <div>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>