<article class="homepage-posts">
    <div>
        <div class="homepage-post-title">{{title}}<span class="date-format">{{format_date created_at}}</span></div>
        <div class="homepage-post-body">{{body}}</div>
        <div class="homepage-post-user">{{user.username}}</div>
    </div>
    <div>
        <a href="/post/{{id}}" class="homepage-post-comments">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>